
nav{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.nav-link{
  color: #ffffff;
  margin: 1rem;
  text-decoration: none;
}
nav .active{
  color:#707070;
}
section{
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}